<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="index.css">
</head>
<body>
	<div class="tabs-container">
		<div class="tabs-wrapper">
			<ul class="tabs">
				<li class="tab active">Tab 1</li>
				<li class="tab">Tab 2</li>
				<li class="tab">Tab 3</li>
			</ul>
			<span class="tab-indicator"></span>
		</div>
		<div class="tabs-content-container">
			<div class="tab-content active">
				tab 1 content
			</div>
			<div class="tab-content">
				tab 2 content
			</div>
			<div class="tab-content">
				tab 3 content
			</div>
		</div>
	</div>
	<!-- JS script -->
  <script src="index.js"></script>
  <!-- JS script -->
</body>
</html>